.body{  
    margin-top: -1.5%;
    background-color: white;
}
.head {
    text-align: center;
    text-emphasis: 50px;
    color: brown;
    height:10%;
}
hr { 
    display: line;
    border-width: 3px;
} 
.downHead {
  display: flex;
}
.leftBar {
  align-content: left;
  display: flex;
}
.leftBarData {
  align-content: center;
  margin-left: 5% ;
}
.vl {
  border-left: 4px solid rgb(102, 104, 102);
  height: 90%;
  position: absolute;
  left: 13%;
  margin-top:-0.9%;
}
.rightBar{

}
.tabl {
    height:250px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1%;
    margin-top: -1%;
    margin-left: 0%;
}

.tab2 {
  height:350px;
  display: flex;
  justify-content: space-evenly;
  margin-left: -10%;
  margin-top: -0.2%;
}
  
  